.*/*
*.code-workspace
*.json
*.log
*.spec
*.txt
.*/
__pycache__

# Pylint
.pylintrc

# cProfile
*.dat
*.prof

# Pyinstaller
build/
dist/

# Logseq Analyzer specific files
~notes/
logseq-analyzer-output/
to_delete/
configuration/user_config.ini
logseq-analyzer-cache*
setup.cfg
setup.py
logseq_analyzer/data.py
doc/
