.*/*
.pylintrc
*.code-workspace
*.dat
*.json
*.log
*.prof
*.spec
*.txt
*/__pycache__/*
*output*/*
*output/*
*tests/*
build/
config_user.ini
dist/
logseq_api_cache/*
make.bat
Makefile
mydata
output*/*
output/*
profile_output*
source/conf.py
source/index.rst
src/persistence.py
src/process_all_graph.py
to_delete/*
user_config.ini
