.*/*
*/__pycache__/*
logseq_api_cache/*
output/*
output*/*
*output/*
*output*/*
to_delete/*
*tests/*
profile_output*
*.json
*.log
*.prof
*.dat
*.code-workspace
*.spec
build/
dist/
src/process_all_graph.py
make.bat
Makefile
source/conf.py
source/index.rst
